<template name="gitlinecount">

	<div id="gitlinecount-container" class="input-group">

		<h1>Github Line Counter</h1>
		<h2>Enter your repository information...</h2>

		<input type="text" placeholder="Repository Owner" id="repo-owner-input" class="form-control">
		<input type="text" placeholder="Repository Name" id="repo-name-input" class="form-control" title="You can leave this blank to get the number of lines in the whole account." data-placement="bottom">

		<div id="gitlinecount-button-container">
			<button class="btn btn-default">Count</button>
		</div>

		{{#if hasStartedCounting }}

			<div id="gitlinecounter-count-container">
				<p>Count: {{ currLineCount }}</p>
			</div>

			<div class="progress">
				<div class="progress-bar progress-bar-striped {{#if isCounting}} active {{else}} {{/if}}" role="progressbar" aria-valuenow="{{ percentCounted }}" aria-valuemin="0" style="width:{{ percentCounted }}%">
				</div>
			</div>

		{{/if}}

	</div>

</template>