<template name="projects">
	<article>

		<section id="projectListSection">
			<h1>Things I've worked on</h1>
			{{> projectsProjectList}}
		</section>

		<section>
			<h1>Achievements</h1>
			{{> projectsAchievementList }}
		</section>

	</article>
</template>

<template name="projectsProjectList">

	<div class="projectListContainer flexContainer">

		{{#if projectListLoaded }}
			{{#each projectList }}
				{{> projectListItem}}
			{{/each}}
		{{/if}}
	</div>

</template>

<template name="projectListItem">

	<div class="projectListItem flexItem hvr-shutter-out-horizontal" onclick="void(0)">
		<h2>
			<a href="{{#if isLink link }} {{ link }} {{ else }} {{ pathFor link }} {{/if}}">
				{{ title }}
			</a>
		</h2>
		<p>Technologies Used:</p>
		<ul>
			{{#each madeUsing}}
		    	<li>{{ this }}</li>
		    {{/each}}
		</ul>
		<a class="github-icon" href="{{ github_link }}"><i class="fa fa-github fa-4x"></i></a>
		<p class="footnote">{{{ footnote }}}</p>
	</div>

</template>

<template name="projectsAchievementList">

	<ul>
	    <li>Won the 'Best First Time Hack' at <a href="http://hshacks2.challengepost.com">HSHacksII</a> with <a href="http://danappelxx.github.io">Advent</a></li>
	    <li>Won 4th place at <a href="http://teenhackathon.com">Teenhackathon</a> with <a href="https://github.com/Danappelxx/Runners-Beat">Runner's Beat</a></li>
	    <li>Earned the title 'Full-stack Developer'</li>
	    <li>Knowledgable in:
	    	<ul>
	    	    <li>Python</li>
	    	    <li>Django</li>
	    	    <li>Javascript</li>
	    	    <li>Meteor.js</li>
	    	    <li>nginx</li>
	    	    <li>Objective-C</li>
	    	</ul>
	    </li>
	</ul>

</template>
