<template name="navbar">

	<nav class="navbar navbar-default center">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="navigation-list-item nav"><a href="{{pathFor 'home'}}">Home</a></li>
				<li class="navigation-list-item nav"><a href="{{pathFor 'projects'}}">Projects</a></li>
				<li class="navigation-list-item nav"><a href="{{pathFor 'about'}}">About</a></li>
				<li class="navigation-list-item nav"><a href="{{pathFor 'contact'}}">Contact Me</a></li>
				<li class="navigation-list-item nav"><a href="{{ blogUrl }}">Blog</a></li>
				{{#if isAdmin}}
					<li class="navigation-list-item nav"><a href="/admin">Admin</a></li>
				{{/if}}
				{{#if canEditBlog}}
					<li class="navigation-list-item nav"><a href="/admin/blog">Blog Admin</a></li>
				{{/if}}
				<li class="navigation-list-item nav">{{> loginButtons }}</li>
			</ul>
		</div>

	</nav>

</template>