#games-container {

	h1, h2 {
		text-align: center;
	}

	br {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.game-canvas-container {
		margin-bottom: 5vh;

		.game-container {
			height: 50%;
			width: 70%;
			margin: 0 auto;
		}
	}
}