<template name="footer">

	<footer>
		<nav class="navbar navbar-default center footer-container">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li class="navigation-list-item nav"><a class="hvr-underline-reveal" href="{{pathFor 'home'}}">Home</a></li>
					<li class="navigation-list-item nav"><a class="hvr-underline-reveal" href="{{pathFor 'projects'}}">Projects</a></li>
					<li class="navigation-list-item nav"><a class="hvr-underline-reveal" href="{{pathFor 'about'}}">About</a></li>
					<li class="navigation-list-item nav"><a class="hvr-underline-reveal" href="{{pathFor 'contact'}}">Contact Me</a></li>
					<li class="navigation-list-item nav"><a class="hvr-underline-reveal" href="{{ blogUrl }}">Blog</a></li>
				</ul>
			</div>
		</nav>
	</footer>

</template>