<template name="about">

	<article>
		<h1>About me</h1>
		<p>I am a self-taught programmer from Silicon Valley in his High School years.</p>
		<h1>About this site</h1>
		<p>The site is built on Meteor.js and runs behind nginx.</p>
		<h1>Why?</h1>
		<p>I'm using this site to host some projects (see <a href="/projects">projects</a>) so I might as well turn it into something useful!</p>
		<p>I'm going to be experimenting with a whole bunch of stuff on here, so it could be interesting to come back and check on it every once in a while.</p>
	</article>

</template>

<template name="about-page">

	<div class="page-container">
			{{>about }}
	</div>

</template>