@import "var/variables";

#new-chatroom-container {
	margin-top: 10px;
	margin-bottom: 10px;

	input {
		width: 25vw;
		margin: 0 auto;
	}
	button {
		display: block;
		margin: 0 auto;
		margin-top: 5px;
	}
}