#projectListSection {

	$main-background-color: #f8f8f8;
	$header-background-color: #545454;
	$project-item-width: 300px;
	$project-item-height: 250px;

	.projectListContainer {

		.projectListItem {

			width: $project-item-width;
			height: $project-item-height;
			background-color: $main-background-color;
			margin: 3px;
			margin-bottom: 15px;
			border-radius: 7px;

			h2 {
				text-align: center;
				margin-top: 0px;
				border-radius: 7px 7px 0px 0px;
				background-color: $header-background-color;
				a {
					color: whitesmoke;
				}
			}

			p {
				margin-left: 10px;
				font-size: 1.2em;
				margin-bottom: 5px;
			}

			.footnote {
				font-size: 10px;
				padding-left: 10px;
				color: grey;
				position: absolute;
				top: $project-item-height + 100px + 5px; // 5px is 'extra' - just makes it look nicer (but not really for formatting)
			}
		}
	}

	.flexContainer {

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: flex-start;

		.flexItem {
			flex-grow: 0;
			flex-shrink: 0;
		}
	}
}