@import "var/variables";

#projects-container {

	#projectListSection {

		.projectListContainer {

			.projectListItem {

				width: $project-item-width;
				height: $project-item-height;
				background-color: $main-background-color;
				margin: 3px;
				margin-bottom: 15px;
				border-radius: 7px;

				&:hover > h2 {
					transform: translateY(-8px);
				}
				&:focus > h2 {
					transform: translateY(-8px);
				}
				&:active > h2 {
					transform: translateY(-8px);
				}

				.github-icon {
					position: absolute;
					top: 193px;
					left: 245px;

					color: inherit;
				}

				h2 {
					text-align: center;
					margin-top: 0px;
					border-radius: 7px 7px 0px 0px;
					background-color: $header-background-color;

					transition: .3s ease-out;

					a {
						color: $project-item-text-color;
						&:hover {
							text-decoration: underline $hover-background-color;
						}
						&:focus {
							text-decoration: underline $hover-background-color;
						}
					}
				}


				p {
					margin-left: 10px;
					font-size: 1.2em;
					margin-bottom: 5px;
				}

				.footnote {
					font-size: 10px;
					position: absolute;
					top: $project-item-height - 20px; // Magic number - idk why it works but trial & error got me to it
				}
			}
		}

		.flexContainer {

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			align-content: flex-start;
			align-items: flex-start;

			.flexItem {
				flex-grow: 0;
				flex-shrink: 0;
			}
		}

		@media only screen and (max-width : 768px) {

			h1:first-child {
				text-align: center;
			}
		}

		// For fancy hover.css stuffs
		.hvr-shutter-out-horizontal {

			&:before {
				border-radius: 7px;
				background-color: $hover-background-color;
			}
			&:hover {
				color: $hover-text-color;
			}
		}
	}
}