<template name="chatroomHome">

	<article>

			<h1>Chatroom</h1>

			{{> chatroom }}

	</article>

</template>


<template name="chatroom">

		{{!-- This should be an example implementation - the user should have access to all of these templates ( this shown in demo?) --}}

		{{> chatroomList}}

		<div id="chatroom-container">

			{{> messages }}

			{{> newMessage }}

		</div>

</template>




<template name="chatroomList">

	<div class="room-name-list">

		{{#each chatrooms}}

			<div class="room-name-list-item {{#if isActive this }}active-room{{/if}}">

				{{#if isModOrAdmin }}

					<a class="remove-room" href="#">
						<i class="fa fa-remove"></i>
					</a>

				{{/if}}

				<a class="room-name" href="#">
					{{ roomName }}
				</a>

			</div>

		{{/each}}

		{{> newChatroom}}

	</div>

</template>

<template name="newChatroom">

			<div id="new-chatroom-container" class="room-name-list-item">

				<input placeholder="New Room" type="text" class="form-control"/>

				<a href="#">
					<i class="fa fa-plus"></i>
				</a>

			</div>

</template>



<template name="messages">

	<div id="messages">

		{{#each messages }}
			{{> message }}
		{{/each}}

	</div>

</template>

<template name="message">

	<div class="message">
		<p>
			{{#if isModOrAdmin }}
				<a class="remove-message" href="#"><i class="fa fa-remove"></i></a>
			{{/if}}
			<span class="username">{{ username }}</span>: {{ message }}
		</p>
	</div>

</template>

<template name="newMessage">

	<div class="new-message-container">
		<form class="new-message">
			<input name="text" type="text" placeholder="Type your message here" class="form-control" />
		</form>
	</div>

</template>
