<template name="historyBlog">

	<h2 style="text-align:center;">Blog</h2>
    <hr>

    {{> historyBlogPost1}}

</template>

<template name="historyBlogPost1">

    <div class="post">

        <h3 class="title">What primary weapon of destruction in the holocaust?</h3>

        <p class="body">
            It is a very well-known fact that a <em>lot</em> of people died in the holocaust.
            However, killing people on such a large scale is very difficult and expensive, so a
            question that came my mind is 'How did they do this?'
        </p>

    </div>

</template>
