<template name="home">
	<h1 class="text-center">Welcome.</h1>
	<div class="div-center text-container">
		<h3 class="text-center">This is my personal website</h3>
		<p>Here you can find some (maybe interesting) stuff. This site will be updated whenever anything worthy actually happens to me.</p>
	</div>
</template>

<template name="resume">
	<section>
		<h1>Projects</h1>
		<ul>
		    <li><strong><a href="https://github.com/Danappelxx/Pebble-Flip">An instagram client for the Pebble</a></strong></li>
		    <li><strong><a href="https://github.com/Danappelxx/RSS-News-Spreeder">A RSS 'spreeder' for the Pebble</a></strong></li>
		    <li><strong><a href="http://danappelxx.github.io">An event-based photo-sharing platform*</a></strong></li>
		    <li><strong><a href="/">This website</a></strong></li>
		    <li><strong><a href="/codepad">A codr.io clone</a></strong></li>
		    <li><strong><a href="#">A Meteor.js package wrapper for egg.js (up up down down left right left right b a)</a></strong></li>
		</ul>
		<p class="footnote">*Built at a hackathon</p>
	</section>
	<section>
		<h1>Achievements</h1>
		<ul>
		    <li>Won the 'Best First Time Hack' at <a href="http://hshacks2.challengepost.com">HSHacksII</a> with <a href="http://danappelxx.github.io">Advent</a></li>
		    <li>Won 4th place at <a href="http://teenhackathon.com">Teenhackathon</a> with <a href="https://github.com/Danappelxx/Runners-Beat">Runner's Beat</a></li>
		    <li>Earned the title 'Full-stack Developer'</li>
		    <li>Knowledgable in:
		    	<ul>
		    	    <li>Python</li>
		    	    <li>Django</li>
		    	    <li>Javascript</li>
		    	    <li>Meteor.js</li>
		    	    <li>nginx</li>
		    	</ul>
		    </li>
		</ul>
	</section>
</template>

<template name="about">

	<section>
		<h1>About me</h1>
		<p>I'm self-taught programmer from Silicon Valley in his High School years. </p>
		<h1>About this site</h1>
		<p>The site is built on Meteor.js and runs behind nginx.</p>
		<h1>Why?</h1>
		<p>I'm using this site to host some projects (see <a href="/projects">projects</a>) so I might as well turn it into something useful!</p>
		<p>I'm going to be experimenting with a whole bunch of stuff on here, so it could be interesting to come back and check on it every once in a while.</p>
	</section>

</template>

<template name="contact">

	<section>
		<h1>Contact Me</h1>
		<p>I can be contacted through either of the following means:</p>
		<ul>
		    <li>Email: <strong><a href="mailto:dan.appel00@gmail.com">Dan.appel00@gmail.com</a></strong></li>
		    <li>Github: <strong><a href="https://github.com/danappelxx">Github</a></strong></li>
		</ul>
	</section>

</template>

<template name="blogIndexTemplate">

	{{> blogIndex}}

</template>

<template name="showBlogTemplate">

	{{> blogShow}}

</template>
