@import "../../../stylesheets/var/variables";

#blog-index-container {

	margin-top: 5px;
	text-align: left;
	$byline-text-color: #bbb;

	a {
		font-size: 2em;
	}

	div {
		padding: 10px;
		text-align: left;
	}

	.blog-anchor-container {
		text-align: center;
	}

	@media only screen and (min-width : 768px) {
		margin-top: 20px;
		div {
			width: 40%;
			margin: 0 auto;
		}
		.blog-anchor-container {
			text-align: left;
		}
	}


	.blog-by-line {
		color: $byline-text-color;
		font-size: 1em;
		margin-bottom: 10px;
	}

}

#blogIndexSection {

	text-align: center;
	@media only screen and (min-width : 768px) {
		width: 80%;
		margin: 0 auto;
	}
}

pre.javascript.hljs span { // all highlighted code
	white-space: nowrap; // doesn't wrap down to next row
}