<template name="chatroom">

		{{> newChatroom}}

		{{> chatroomList}}

		<div id="chatroom-container">

			{{> messages }}

			{{> newMessage }}

		</div>

</template>

<template name="messages">

	<div id="messages">

		{{#each messages }}
			{{> message }}
		{{/each}}

	</div>

</template>

<template name="message">

	<div class="message">
		<p>
			{{#if isModerator }}
				<a class="remove-message" href="#"><i class="fa fa-remove"></i></a>
			{{/if}}
			<span class="username">{{ username }}</span>: {{ message }}
		</p>
	</div>

</template>

<template name="newMessage">

	<div class="new-message-container">
		<form class="new-message">
			<input name="text" type="text" placeholder="Type your message here" class="form-control" />
		</form>
	</div>

</template>