@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400);

$theme-color-main: #E5837C;
$main-background-color: #f8f8f8;
$hover-background-color: $theme-color-main;
$hover-text-color: #ffffff;
$header-background-color: #545454;
$project-item-text-color: whitesmoke;
$project-item-width: 300px;
$project-item-height: 250px;